//
//  Secrets.xcconfig
//  final-project
//
//  Created by Ikroop Burmi on 4/16/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = dpCLErqf8haqwFM4jJOh692dBpSAByulPKUL
